.btn{
    background-color: #a1b5de;
    color: #1f3259;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 10px 2px #1f3259;
    display: block;
    margin: 40px auto;
}